<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      <h1>UCLA BMES Build Team<img src="https://bmesbuildteamucla.github.io/BMES_UCLA_Logo.png" width="165" style="float:right"></h1>

      
      {% if page.title == bmesbuildteamucla.github.io %}
      {% endif %}
      
      <ul class="breadcrumb">
        <li><a href="{{ "/" | absolute_url }}">HOME</a></li>
        <li><a href="{{ "/" | relative_url }}">First Breadcrumb</a></li>
        <li>Second Breadcrumb</li>
      </ul>

      {{ content }}

      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        UCLA BMES Build Team
      </div>
    
    </div>

  </body>
</html>
